<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls blog</a></h1>
    </div>

    <div>
        <p>published:29.04.2020, 19:38</p>
        <h2><a href="">My first post</a></h2>
        <p>Aenean eu leo quam. こんにちわ！よろしくお願いします！</p>
    </div>

    <div>
        <p>公開日:29.04.2020, 19:41</p>
        <h2><a href="">2番目の投稿</a></h2>
        <p>こんにちわ！よろしくお願いします！</p>
    </div>
</body>
</html>
